@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    padding:0;
    margin:0;
}

main{
    width: 100vw;
    background:#f3f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    height:25vh;
    background-image: linear-gradient(to right,#574AE8,#3EA1DB);
}

nav{
    width:70%;
    position:relative;
    top: 2em;
    margin-left: 15%;
    display:flex;
    justify-content: space-between;
}

span{
    color:white;
    font-size: 1.5em;
    font-family: 'Inter', sans-serif;
}

header input{
    height:3rem;
    width:70%;
    margin-left: 15%;
    position: relative;
    top: 5.8em;
    opacity:0.3;
    border:none;
    border-radius: 6px;
}

::-webkit-input-placeholder{ 
    color:#d6d6d6;
    font-weight: bold; 
}

article{
    max-width: 60%;
    max-height: 40vh;
    background-color:white;
    margin-top: 3em;
    box-shadow: 0.5px 0.5px 0.5px 0.5px  rgba(100, 98, 98, 0.712);
    border-radius: 4.5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    margin-bottom:3em;
}

article span,i{
    margin-bottom: 50px;
}

.artigo{
    margin-top:-40px;
}

.artigo h2{
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    color:#111;
    font-size: 1.65em;
}

.artigo p{
    font-family: 'Lexend Deca', sans-serif;
    color:#b6b6b6;
}

main > article > span{
    margin: 20px;
    color:#b6b6b6;
    font-size:0.9em;
}


main i{
    padding: 20px;
    color:#574AE8;
}


    @media screen and (min-width:220px) and (max-width:360px){
        
        html{
            font-size:0.7rem;
        }
        
        header,main{
            overflow-x: hidden;
        }
        article{
            width: 90%;
        }
    }

    @media screen and (min-width:361px) and (max-width:760){
        html{
            font-size:0.7rem;
        }
        
       
    }

    @media screen and (min-width:768px) and (max-width:1400px){
        header,main{
            overflow-x: hidden;
        }
        header{
            height: 20vh;
        }
        header nav{
            margin-top: 4%;
        }
    }